.postContainer {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.postPage {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.postBox {
    width: 550px;
    height: 550px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .postPhoto{
    width: 400px;
    height:400px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-left: 60px;
    background-color: rgb(202, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .innerText{
    font-size: larger;
    background-color: rgb(202, 199, 199);
  }

  .postButton{
    margin-left: 110px;
  }
